/* Asegurarte de que las imágenes sean responsivas */
.img-responsive {
  width: 100%;
  height: auto;
  max-width: 800px; /* Limita el tamaño máximo de la imagen */
  display: block;
  margin: 0 auto;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #0066cc;
  color: white;
  padding: 40px 0;
  text-align: center;
}

h1, h2 {
  font-size: 2em;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

/* Estilos de los pasos */
ol {
  padding-left: 20px;
}

ol li {
  margin-bottom: 10px;
}

/* Introducción */
#introduccion {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

#pasos, #configuracion {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos para las secciones de comandos */
#comandos, #comandos-hestia {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

#comandos pre, #comandos-hestia pre {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 15px;
  font-family: monospace;
  overflow-x: auto;
}

#comandos code, #comandos-hestia code {
  color: #d6336c; /* Resalta los comandos en color */
}
